<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="pf-flex.css">
</head>
<body>
    <div class="pf-wrapper">
        <div class="pf-sidebar">
            <h1>Hi there!</h1>
            <p>My name is Uzzal and I build web application</p>
        </div>
        <div class="pf-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus ratione aperiam quo nisi, odio in eligendi voluptatibus architecto rerum. Placeat quibusdam neque totam tenetur vitae consequuntur, numquam maiores itaque id, nihil fuga hic, aliquam ipsum? Aliquam vitae, fuga saepe cumque voluptatibus nam consectetur ab quam laudantium minus perspiciatis hic? Dolor, culpa hic voluptate assumenda doloribus ullam consectetur possimus sapiente iste doloremque, amet nulla maxime! Inventore placeat necessitatibus repellendus nam obcaecati, laboriosam unde eos! Aperiam debitis tempore sapiente reiciendis similique facere, cum nesciunt adipisci harum aliquam nemo consequatur enim labore est aut maxime ad dolorum consequuntur iusto repellat totam quae.</p>
            <h1>Services</h1>
            <div class="pf-grid">
                <div class="pf-grid-item">
                    <h1>Consulting</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, obcaecati?</p>
                    <a href="#">Learn more</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Training</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, obcaecati?</p>
                    <a href="#">Learn more</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Speacking</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, obcaecati?</p>
                    <a href="#">Learn more</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Writing</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, obcaecati?</p>
                    <a href="#">Learn more</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Blogging</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, obcaecati?</p>
                    <a href="#">Learn more</a>
                </div>
                <div class="pf-grid-item">
                    <h1>Software Documentation</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, obcaecati?</p>
                    <a href="#">Learn more</a>
                </div>
                <div class="pf-grid-item">
                    <h1>DevOps</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, obcaecati?</p>
                    <a href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>