html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.pf-wrapper {
    display: flex;
}

.pf-sidebar {
    background-color: gray;
    padding: 5vw;
}

.pf-grid-item {
    background-color: gray;
    padding: 3vw;
}

@media only screen and (max-width: 900px) {
    .pf-wrapper {
        flex-direction: column;
    }
}
